.bodyCounter {

    text-align: center;
    justify-content: center;
    width: 400px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}

.value {
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
}

.max {
    color: red;
}